apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Values.namespace }}
data:
  MONGO_URL: {{ .Values.config.MONGO_URI }}
  MONGO_INITDB_DATABASE: {{ .Values.config.MONGO_INITDB_DATABASE }}

